---
name: post

"on":
  push:
    branches:
      - master
    paths-ignore:
      - LICENSE
      - README.md
      - '.github/workflows/*'
      - '.github/dependabot.yaml'
      - '.github/CODEOWNERS'

permissions:
  contents: read

jobs:
  post:
    name: post changes
    runs-on: ubuntu-latest
    environment:
      name: prose.sh
      url: https://andros21.prose.sh
    steps:
      - name: checkout project
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          fetch-depth: 0
      - name: get changes
        id: changed-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        with:
          files_ignore: README.md
      - name: post prose.sh
        if: steps.changed-files.outputs.all_changed_files_count > 0
        shell: bash
        run: |
          set -x
          # setup ssh-agent
          eval "$(ssh-agent -s)"
          ssh-add - <<< "${{ secrets.PROSE_PRV_KEY }}"
          # post changed files
          scp -o StrictHostKeyChecking=no -v \
            ${{ steps.changed-files.outputs.all_changed_files }} \
            andros21@prose.sh:
      - name: purge prose.sh
        if: steps.changed-files.outputs.deleted_files_count > 0
        shell: bash
        run: |
          # purge deleted files
          for file in ${{ steps.changed-files.outputs.deleted_files }}; do cp /dev/null "$file"; done
          scp -o StrictHostKeyChecking=no -v \
            ${{ steps.changed-files.outputs.deleted_files }} \
            andros21@prose.sh:
